/* players details style  */
main{
    display: flex;
    justify-content: center;
}
.players-container{
    display: flex;
    justify-content: center;
}
.players-details{
    display: flex;
    align-items: flex-start;
    min-width: 1050px;

}
/* .play{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 100%;
    padding-left: px; */

.players{
    display: grid flex;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    flex-direction: row;
    padding: 15px;
    
    
}
.player img{
    width: 100%;
    align-items: center;
    border-radius: 5%;
    
    
    
}
.player{
    box-shadow: 0px 0px 40px  rgb(8, 8, 8);
    width: 300px;
    height: 394px;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 5%;
    border-radius: 5%;
    margin-right: 5%;
    
}
