body{
    margin: 0 0;
    padding: 0 0;
}
/* conmebol copa america 2021  */
.start-container{
    width: 1404px;
    height: 677px;
    background-color: blue;
    margin-top: 0px;
    margin-left: 0px;
    
}
.header{
    width: 1149px;
    height: 456px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 140px;
    margin-right: 160px;
    
    
}
.copa-text{
    width: 485px;
    height: 230px;
}
.text-size{
    font-family: 'Poppins', sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    color: white;
    
}

.banner img{
    width: 556px;
    height: 438px;
    position: relative;
    right: 135;
    top: 100px;
    

}
/* players details style  */


.players-container{
    display: flex;
    justify-content: center;
    
}
.players-details{
    display: flex;
    align-items: flex-start;
    min-width: 1050px;
    margin: 5%;

}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    flex-direction: row;
    padding: 15px;
    
    
    
}
.player img{
    width: 300px;
    height: 256px;
    align-items: center;
    padding: 15px;
    
    
    
}
.player{
    box-shadow: 0px 0px 40px  rgb(243, 232, 232);
    width: 330px;
    height: 474px;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 5%;
    margin-right: 15px;
    
}
.copa-container{
    width: 1102px;
    height: 427px;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    width: 1102px;
    margin: 10%;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
.all-highlights{
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
    
}
.font-size{
    font-size: 4em;
}
.cover img{
    width: 567px;
    height: 427px;
    align-items: center;
    margin-left: 10px;
}
.watch-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    font-size: large;
    margin-bottom:  2%;
    position: relative;
    top: 27px;
    width: 168px;
    height: 44px;
}
.container{
    width: 484px;
    height: 213px;
}
.gallery{
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}
.containerr{
    position: relative;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.box{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 5px;

    
}
.containerr .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
    
}
.containerr .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.containerr .box .imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.containerr .box .imgbx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#f00,#000); 
    mix-blend-mode: multiply;
    opacity: 0; 
    transition: 0.5s;

}
.containerr .box:hover .imgbx::before{
    opacity: 1;
}
.containerr .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerr .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    /* padding: 20px; */
    /* align-items: flex-end; */
}
.containerr .box .content h2{
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    margin-left: 20%;


}
.containerr .box:hover .content h2{
    transform: translateY(0px) ;
    transition-delay: 0.6s;

}

.containerr .box .content p{
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
    align-items: center;
    margin-right: 0px;

    

}
.containerr .box:hover .content p{
    transform: translateY(0);
    transition-delay: 0.7s;
    margin-right: 0px;
    

}
.sub{
    position: relative;
    
}
.email{
    padding: 10px 40px;
}
.newsletter{
    
    margin-left: 35%;
    padding: 40px;
}
.subs-button{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 40px;
    border-radius: 5px;
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.footer-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.logo-img{
    width: 484px;
    height: 110px;
    
    
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.social img{
   
    margin-right: 10px;  
    width: 50px;
    
}