/* conmebol copa america 2021  */
.start-container{
    width: 1404px;
    height: 677px;
    background-color: blue;
    
}
.header{
    width: 1149px;
    height: 456px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 140px;
    margin-right: 160px;
    
    
}
.text-size{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: white;
    
}

.banner img{
    width: 556px;
    height: 438px;
    position: relative;
    right: 135;
    top: 100px;
    

}
/* players details style  */


.players-container{
    display: flex;
    justify-content: center;
    
}
.players-details{
    display: flex;
    align-items: flex-start;
    min-width: 1050px;
    margin: 5%;

}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    flex-direction: row;
    padding: 15px;
    
    
}
.player img{
    width: 100%;
    align-items: center;
    
    
    
}
.player{
    box-shadow: 0px 0px 40px  rgb(243, 232, 232);
    width: 300px;
    height: 394px;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 5%;
    margin-right: 15px;
    
}
.copa-container{
    width: 1102px;
    height: 427px;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    width: 1102px;
    margin: 10%;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
.all-highlights{
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
    
}
.font-size{
    font-size: 2em;
}
.cover img{
    width: 567px;
    height: 427px;
    align-items: center;
    margin-left: 10px;
}
.watch-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    font-size: large;
    margin-bottom:  2%;
    position: relative;
    top: 15px;
}
.container{
    width: 484px;
    height: 213px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-img{
    width: 484px;
    height: 110px;
    
    
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.social img{
   
    margin-right: 10px;  
    width: 50px;
    
}

